:root{
--background:#000000;
--icons:#222;
--twitter:#00a0d1;
--whatsapp:#1fd108;
--youtube:#ff0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background);
}
ul{
    position: relative;
    display: flex;
}
ul li{
    position: relative;
    list-style: none;
    margin: 0px 20px;
    cursor: pointer;
}

ul li a{
    text-decoration: none;
}

ul li a .fa{
    font-size: 6em;
    color: var(--icons);
}

ul li::before{
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 6em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

ul li:nth-child(1)::before{
    content: '\f099';
    color: var(--twitter);
    border-bottom: 4px solid var(--twitter);
} 

ul li:nth-child(2)::before{
    content: '\f232';
    color: var(--whatsapp);
    border-bottom: 4px solid var(--whatsapp);
} 

ul li:nth-child(3)::before{
    content: '\f16a';
    color: var(--youtube);
    border-bottom: 4px solid var(--youtube);
} 

ul li:hover::before{
    height: 100%;
}


